#game {
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
}

.tile {
  border-style: solid;
  border-width: 0.025rem;
  width: 2rem;
  height: 2rem;
}

.player {
  background-color: aquamarine;
}

.food {
  background-color: yellow;
}